header {
    transition: top 2s ease-in;
    -webkit-transition: top 10s ease-in;
    -moz-transition: top 10s ease-in;
}

.headerUp {
    transition: top 2s ease-in;
    -webkit-transition: top 2s ease-in;
    -moz-transition: top 2s ease-in;
}

#firstLoader {
    transition: top 1.75s ease-in-out, opacity 7.5s ease-in;
    -webkit-transition: top 1.75s ease-in-out, opacity 7.5s ease-in;
    -moz-transition: top 1.75s ease-in-out, opacity 7.5s ease-in;
}

#loadingScreen {
    transition: top 1.5s ease-out;
    -webkit-transition: top 1.5s ease-out;
    -moz-transition: top 1.5s ease-out;
}

#selectPage {
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
}

.carousel {
    transition: left 1s;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
}

/*Animated gradients*/

.overlayBlue {
    background: linear-gradient(0deg, #0057e7, #ff0066);
    background-size: 400% 400%;
    animation: passThrough 9s ease-in-out infinite;
    -moz-animation: passThrough 9s ease-in-out infinite;
    -webkit-animation: passThrough 9s ease-in-out infinite;
}

.overlayRed {
    background: linear-gradient(0deg, #d62d20, #85ff00);
    background-size: 400% 400%;
    animation: passThrough 9s ease-in-out infinite;
    -moz-animation: passThrough 9s ease-in-out infinite;
    -webkit-animation: passThrough 9s ease-in-out infinite;
}

.overlayYellow {
    background: linear-gradient(0deg, #ffa700, #00d6ff);
    background-size: 400% 400%;
    animation: passThrough 9s ease-in-out infinite;
    -moz-animation: passThrough 9s ease-in-out infinite;
    -webkit-animation: passThrough 9s ease-in-out infinite;
}

.overlayGreen {
    background: linear-gradient(0deg, #008744, #ffd500);
    background-size: 400% 400%;
    animation: passThrough 9s ease-in-out infinite;
    -moz-animation: passThrough 9s ease-in-out infinite;
    -webkit-animation: passThrough 9s ease-in-out infinite;
}

/*Floating Menu animation*/

#hamburger span {
    display: block;
    width: 24px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    top: -30px;
    left: 8px;
    background: #ffffff;
    border-radius: 0px;
    transition: transform .5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
    z-index: 11;
}

#hamburger input {
    display: block;
    width: var(--headerPhone);
    height: var(--headerPhone);
    position: relative;
    cursor: pointer;
    opacity: 0;
    /* hide and place over hamburger */
    z-index: 5;
    -webkit-touch-callout: none;
    z-index: 13;
}

#hamburger span:nth-child(3), #hamburger span:nth-child(4), #hamburger span:nth-child(2){
    transform-origin: 23px 1px;
    background-color: white;
    z-index: 12;
}

/*Transform to a cross*/

#hamburger input:checked ~ span {
    transform: rotate(-45deg) translate(-2.4px, -2.4px);
    background: #222222;
}

#hamburger input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#hamburger input:checked ~ span:nth-last-child(2) {
    transform: rotate(45deg) translate(-2.4px, 2.4px);
}

#menu {
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#hamburger input:checked ~ ul {
    transform: none;
}


@-webkit-keyframes passThrough {
    0% {
        background-position: 50% 0%
    }
    50% {
        background-position: 50% 100%
    }
    100% {
        background-position: 50% 0%
    }
}

@keyframes passThrough {
    0% {
        background-position: 50% 0%
    }
    50% {
        background-position: 50% 100%
    }
    100% {
        background-position: 50% 0%
    }
}
