@font-face {
    font-family: 'FuturaPT';
    src: url('./fonts/FuturaPTBook.otf') format('opentype');
    font-weight: 400;
    /* Specify font weight */
    font-style: normal;
    /* Specify font style */
}

@font-face {
    font-family: 'Futura PT';
    src: url('./fonts/FuturaPTDemi.otf') format('opentype');
    font-weight: 600;
    /* Specify font weight */
}

body {
    font-family: 'Futura PT', sans-serif;
    font-weight: 400;
}

/* Move to Tailwind later */

.body-big {
    font-family: "Futura PT";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.5px;
    margin: 0;
}

.overline-small {
    font-family: "Futura PT";
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
}

.txt-inv-hi {
    color: rgba(255, 255, 255, 0.90);
}

.txt-inv-med {
    color: rgba(255, 255, 255, 0.72);
}

.flex-v24 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.grid-3col {
    display: grid;
  grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

/* Main Page - Hero Section*/
.main-hero {
    background-color: black;
}
.grid-3col .logo-hero {
    grid-column: 2;
  }

  .grid-3col .flex-v24 {
    grid-column: 3;
  }

.logo-hero {
    height: 128px;
    width: 128px;
}

.d1 {
    font-family: "Futura PT";
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    margin: 0;
}