body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

h1 {
    font-family: Lato, serif;
    font-weight: 600;
    font-size: 2rem
}

h2 {
    font-family: Lato, serif;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 1rem 0
}

h3 {
    font-family: Lato, serif;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 3.5rem;
    text-transform: lowercase
}

h4 {
    font-family: Lato, serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 3rem;
    padding: 2rem 0
}

h5 {
    font-family: Lato, serif;
    font-weight: 600;
    font-size: 1rem;
    padding: 1rem 0
}

p {
    font-family: Lato, serif;
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.618rem;
    padding-bottom: 1rem
}

emphasis {
    font-weight: 600
}

.tinyText {
    font-size: .75rem
}

.largerText {
    font-size: 1.2rem
}

h6 {
    font-size: 3rem
}

#floatingMenu h2,
#floatingMenu a {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: .5rem;
    text-decoration: none;
}

#hi1,
#hi2,
#hi3 {
    font-weight: 900
}

#contactPage h2 {
    font-size: 1.25rem;
    font-weight: 600;
}

#contactSocialMedia p {
    font-size: .80rem;
    margin: 0;
    line-height: 0rem;
}

#archiveDisclaimer {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
}

.imgCaption {
    font-size: .9rem;
    text-align: center
}

#hamburgerMenu p {
    font-size: 1.5rem;
    padding-bottom: 1.75rem
}

#contactSocialMedia a,
.callToAction a {
    text-decoration: none
}

.callToAction h1 {
    text-decoration: none;
    line-height: 0
}

.listNoBullets {
    list-style: none
}

a {
    color: inherit;
    text-decoration: underline
}

a:hover {
    text-decoration: none
}

a:visited {
    text-decoration: line-through
}

.cardLarge a:hover,
.cardSmall a:hover {
    text-decoration: underline
}

.card a,
header a {
    text-decoration: none
}

.cardTitle {
    text-align: left
}

.cardSub {
    margin-top: -10px;
    font-size: .8rem;
    text-align: left
}

.cardDescription {
    font-size: .9rem
}

@media (min-width:768px) {
    h1 {
        font-size: 2.5rem
    }
    h2 {
        font-size: 1.5rem
    }
    h3 {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
    h4 {
        font-size: 2rem
    }
    p {
        font-size: 1rem;
        line-height: 1.618rem
    }
    .card h4 {
        font-size: 1.25rem
    }
    #hi1 {
        font-size: 3rem
    }
}

::placeholder {
    font-family: Lato, serif;
    font-size: .9rem;
    opacity: .75;
}
