* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

::-webkit-scrollbar {
    width: .5rem
}

:root {
    --containeriPad: 600px;
    --containerDesktop: 720px;
    --containerLarge: 900px;
    --container4k: 720px;
    --headerPhone: 60px;
    --hideHeaderPhone: -65px;
    --headeriPad: 60px;
    --hideHeaderiPad: -65px;
    --headerDesktop: 150px;
    --hideHeaderDesktop: -160px;
    --headerLarge: 150px;
    --hideHeaderLarge: -160px;
    --header4k: 150px;
    --hideHeader4k: -160px
}

#introPage,
.gallery,
.videoGallery,
.introSection,
.overlayScreen,
.projectIntro,
footer {
    display: flex;
    flex-direction: column;
    align-items: center
}

#loadingScreen > img {
    padding-top: 2rem
}

.reloadWarning {
    padding-top: 2rem;
    min-height: 50px
}

body {
    overflow-x: hidden
}

main {
    position: relative;
    width: 100%
}

.longform {
    padding: 2rem 0 4rem 0;
    margin: 4rem auto
}

.gallery,
.videoGallery {
    position: relative;
    z-index: 15;
    margin: 4rem auto;
}

.gallery {
    padding: 2rem;
}

.container {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}

.containerFull {
    width: 100%;
    padding: 0 .5rem
}

.centerItem {
    align-self: center
}

img {
    max-width: 100%;
    object-fit: contain;
}

section {
    margin: 3rem auto
}

.flexColRow {
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column
}

.overlayScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center
}

#loadingScreen {
    z-index: 99
}

#portraitWarning {
    display: none;
    z-index: 98
}

header {
    position: fixed;
    top: 0;
    height: var(--headerPhone);
    width: 100%;
    z-index: 20;
}

.logo img {
    width: 60px
}

#hamburger {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 10px
}

#hamburger span {
    display: block;
    width: 27px;
    height: 3px;
    margin-bottom: 6px;
    position: relative;
    top: -30.5px;
    left: 6.5px;
    z-index: 12
}

#hamburger input {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 15
}

#hamburger span:nth-child(2),
#hamburger span:nth-child(3),
#hamburger span:nth-child(4) {
    z-index: 14
}

#hamburgerMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 6rem 0 3rem 0;
    list-style-type: none;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    z-index: 13
}

#hamburgerMenu p {
    text-align: center
}

#floatingMenu,
.floatingMenuAside {
    display: none;
}

footer {
    padding: 4rem 0 2rem 0
}

#footerSocialMedia {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 0 auto;
}

.socialMediaButton {
    width: 50px
}

.textCenter {
    text-align: center
}

.imgCaptionBlock {
    width: 100%
}


#footerDisclaimer {
    margin-top: 1.5rem
}

#showcasePage {
    padding-bottom: 5rem
}

#showcaseIntro {
    padding-top: 6rem
}

#guideDiscovery {
    padding: 9rem 0
}

#introDP {
    width: 300px;
    height: 300px;
    align-self: center;
    margin-top: 7rem;
}

#introText {
    margin: 3rem 0rem;
    width: 300px;
    text-align: center
}

.callToAction {
    display: flex;
    justify-content: space-around;
    margin: 6rem auto
}

.callToAction h1 {
    padding-bottom: .5rem
}

.callUmm,
.callYes {
    padding: 1rem;
    min-width: 125px
}

.showcaseGrid {
    padding: 0 2rem;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr))
}

.showcaseLeft {
    align-self: center
}

.showcaseLeft img {
    width: 100%;
    height: inherit;
    object-fit: contain
}

.showcaseRight {
    align-self: center
}

.showcaseLink > div {
    text-align: left
}

#archivePage {
    padding: 4rem 0
}

#floatingMenu hr {
    margin: 1rem 0rem;
}

#floatingMenu .subMenuTitle {
    margin-top: 2rem;
}

.headerUp {
    top: var(--hideHeaderPhone)
}

/* Archive page*/

#archiveIntro {
    margin-top: 100px;
    padding: 0rem 2rem;
}

#archiveDisclaimer {
    margin-top: 200px;
}

.sidebar {
    padding: 0rem 2rem;
}

#archiveIntro p:nth-child(2) {
    margin-top: 6em;
}

#archiveIntro h2 {
    display: inline-block;
    padding-bottom: 3rem;
}

.listingGrid {
    padding: 0 2rem;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
}

.card {
    display: block;
    align-content: flex-start;
    margin: 0;
    padding: .25rem
}

.cardTop {
    min-height: 200px
}

.cardText {
    display: block;
    max-width: 180px;
    margin-left: 1rem
}

/* Contact Page */

#mailer {
    display: flex;
    flex-direction: column;
}

.contactFields {
    margin: .25rem;
    padding: .25rem 0rem .2rem .25rem;
}

.formButton {
    margin-top: .25rem;
    width: 100%;
    height: 50px
}

#contactSocialMedia {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

#contactSocialMedia a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: .5rem;
}

#contactSocialMedia p {
    padding: 0rem 0px 0rem 1rem;
}

/* Contact Page*/

#contactPage .container {
    margin-top: 6rem;
}

/* Project pages*/

#projectViewSwitch .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 4rem auto;
}

#projectViewSwitch h2 {
    padding: 1rem;
    min-width: 150px;
}

.poster img {
    width: 100%;
    margin-top: -4px;
}

.projectIntro {
    margin: 100px 0 50px 0
}

.projectIntro .container {
    display: flex;
    flex-direction: column
}

.projectIntroText {
    max-width: 400px;
    padding: 0 1rem
}

.projectTitle {
    margin-bottom: 2rem
}

.heroImage {
    width: 100%
}

.imageSection {
    display: grid;
    padding: 0 2rem;
    grid-gap: 10px
}

iFrame,
video {
    width: 100%;
    min-height: 600px;
    max-height: 100vh;
}

.mapSection {
    display: grid;
    padding: 0 2.5vw;
    width: 100%;
    height: 100vw
}

.cardLarge {
    padding: 2rem
}

.cardLarge .rightPane {
    padding-top: 2rem
}

.modalEnabled {
    cursor: pointer
}

#modalDiv {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 90;
    overflow-y: scroll
}

#modalDiv img {
    max-height: 90vh
}

.modalCaption {
    padding-top: 1rem
}

#modalClose {
    position: fixed;
    top: 10px;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer
}

@media screen and (max-width:575px) {
    #switchingLogo {
        content: url(/images/LogoSmallDark.svg)
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    #switchingLogo {
        content: url(/images/LogoSmallDark.svg)
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    #portraitWarning {
        display: flex
    }
}

@media screen and (min-width:768px) {
    .container {
        padding: 0;
        width: var(--containeriPad)
    }
    header {
        height: var(--headeriPad)
    }
    #portraitWarning {
        display: none
    }
    .headerUp {
        top: var(--hideHeaderiPad)
    }
    .longform {
        width: calc(var(--containeriPad) + 120px)
    }
    #introPage {
        height: 95vh;
        min-height: 900px
    }
    .showcaseLeft {
        height: 300px
    }
    .showcaseDesc {
        display: block
    }
    .showcaseLink > div {
        margin-top: 1rem
    }
    .showcaseGrid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
    }
    #projectViewSwitch h2,
    .callUmm,
    .callYes {
        padding: 1rem;
        min-width: 250px
    }
    .listingGrid {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr))
    }
    .cardTop {
        min-height: 250px
    }
    . #archiveDisclaimer {
        display: none;
    }
    #archiveIntro .container {
        margin: 9rem 0rem;
    }
    #archiveIntro h2 {
        padding: 0rem;
        margin: 0rem;
    }
    .projectIntro {
        height: 80vh;
        min-height: 600px;
        margin-top: 150px;
        flex-direction: row
    }
    .projectIntro .containerFull {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'text image';
        grid-gap: 20px
    }

    .heroImage {
        width: 100%;
        grid-area: image;
        max-width: 600px;
        align-self: center
    }
    .projectIntroText {
        display: block;
        grid-area: text;
        text-align: right
    }
    .twoSection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem
    }
    .threeSection {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem
    }
    .twoOneSection {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 50px
    }
    .threeTwoSection {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-gap: 50px
    }
    .fullFrame img {
        width: 100%;
    }
    .frameMedium {
        grid-template-columns: repeat(auto-fill, minmax(250px, .75fr))
    }
    .frameSmall {
        grid-template-columns: repeat(auto-fill, minmax(200px, .3fr))
    }
    .mapSection {
        height: 100vh
    }
    #contactGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
    }
}

@media screen and (min-width:992px) {
    .container {
        width: var(--containerDesktop)
    }
    header {
        height: var(--headerDesktop);
        z-index: 10;
    }
    .flexColRow {
        flex-direction: row
    }
    .headerUp {
        top: var(--hideHeaderDesktop)
    }
    #hamburger {
        display: none
    }
    #floatingMenu {
        display: block;
        position: fixed;
        top: 175px;
        padding-left: 30px;
        width: 175px;
        z-index: 5;
    }
    .floatingMenuAside {
        opacity: 0;
        transform: translate(-100%, 0);
    }
    #projectViewSwitch {
        display: none;
    }
    .showcaseLeft {
        height: auto
    }
    .longform {
        width: calc(var(--containerDesktop) + 150px)
    }
    .logo Img {
        width: 150px
    }
    #introDP,
    #introText {
        margin: 0
    }
    #introText {
        width: 500px;
        padding-left: 50px;
        text-align: left
    }
    .callToAction h1 {
        padding: 2rem 0 .25rem 0
    }
    .callToAction p {
        opacity: 0
    }
    .showcaseGrid {
        grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
        padding: 0 170px
    }
    .showcaseRight {
        max-width: 300px
    }
    .listingGrid {
        grid-template-columns: repeat(auto-fill, minmax(225px, 1fr))
    }
    .projectIntro .containerFull {
        grid-template-columns: 1fr 450px 450px 1fr;
        grid-template-areas: '. text image .'
    }
    .frameLarge {
        grid-template-columns: repeat(auto-fill, minmax(.8fr, 1fr))
    }
    .frameMedium {
        grid-template-columns: repeat(auto-fill, minmax(300px, .75fr))
    }
    #archiveIntro {
        display: none;
    }
    #archivePage .containerFull {
        width: calc(var(--containerDesktop) + (100vw - var(--containerDesktop))/2);
        margin-left: calc((100vw - var(--containerDesktop))/2);
    }
    #archivePage {
        width: 100%;
        top: 0px;
        grid-template-columns: 1fr var(--containerDesktop) 1fr;
        grid-template-areas: ". archiveList .";
    }
    #archivePage section {
        grid-area: archiveList;
    }
}

@media screen and (min-width:1339px) {
    .container {
        width: var(--containerLarge)
    }
    header {
        height: var(--headerLarge)
    }
    .headerUp {
        top: var(--hideHeaderLarge)
    }
    .longform {
        width: calc(var(--containerLarge) + 150px)
    }
    .showcaseGrid {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
    }
    .showcaseRight {
        max-width: 380px
    }
    .listingGrid {
        grid-template-columns: repeat(auto-fill, minmax(275px, 1fr))
    }
    .cardTop {
        min-height: 200px
    }
    .cardText {
        max-width: 240px
    }
    .projectIntro .containerFull {
        grid-template-columns: 1fr 300px 600px 1fr;
        grid-template-areas: '. text image .'
    }
    #archivePage .containerFull {
        width: calc(var(--containerLarge) + (100vw - var(--containerLarge))/2);
        margin-left: calc((100vw - var(--containerLarge))/2);
    }
}

@media screen and (min-width:2459px) {
    .container {
        width: var(--container4k)
    }
    header {
        height: var(--header4k)
    }
    .headerUp {
        top: var(--hideHeader4k)
    }
    .longform {
        width: calc(var(--container4k) + 150px)
    }
    .showcaseGrid {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr))
    }
    #archivePage .containerFull {
        width: calc(var(--containerLarge) + (100vw - var(--containerLarge))/2);
        margin-left: calc((100vw - var(--containerLarge))/2);
    }
}
