/*Scrollbar tweak*/

::-webkit-scrollbar
{
    width: .6em;
    background-color: #F0F0F0;
}
::-webkit-scrollbar-track
{
    -webkit-
    /*box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/

    border-radius: 10px;
    background-color: whitesmoke;
    border: 1% solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb
{
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    border-radius: 12px;
    background-color: dodgerblue;
}

/*Main div styling*/

body {
    background-color: white;
    overflow-y: hidden;
}
.container{

}
.PortraitWarning{
    display: none;
}
.LoadingScreen {
    display: flex;
    position: fixed;
    top : 0px;
    left : 0px;
    height: 100%;
    width: 100%;

    margin:0;
    padding: 0;

    z-index: 10;

    align-items: center;

    background-color: white;
}
.IntroText {
    text-align: center;
}
.header {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 10%;
    width: 100%;

    margin:0;
    padding: 0;

    z-index: 5;
    background-color: white;

    align-items: center;

    box-shadow: 0px .2em .75em #888888;
}
.footer {
    display: flex;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 7.5%;
    width: 100%;

    margin: 0;
    padding: 0;

    z-index: 5;

    align-items: center;

    border-top: solid;
    border-width: thin;
    border-color: #CCCCCC;

    box-shadow: 0px -.025em .25em #CCCCCC;
}
.mainContent {
    position: fixed;
    top: 10.25%;
    height:82%;
    width: 100%;

    overflow-y: auto;

    z-index: 0;
    overflow-y: scroll;
}
.sections{
    padding: 1.5em 0em 1.5em 0em;
}
.sections:last-child{
    padding: 1em 0em 2em 0em;
    border: none;
}
.sideTitle{
    padding: .5em .5em .5em 1em;
}
.sideDescription{
    padding: .5em .5em .5em 1em;
}
.HFContainer{
    align-items: baseline;
}
.HeaderAbout, .Filter{
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
}
#fType, fChronology{
    margin-left: 1.5em;
}
.card{
    margin: 1.5em .25em;
    padding: .5em;
    border: dotted;
    border-width: thin;
    border-color: lightgrey;
    border-radius: 0;
    box-shadow: 2px 2px 10px #888888;
}
.card:hover{
    cursor: pointer;
    background-color: lightskyblue;
}
.card-project{
    position: absolute;
    top: 1em;;
    right: 1em;
    text-align: right;
    z-index: 2;
}
.card-number{
    width: 1em;
    font-size: 3em;
    position: relative;
    top: -1.25em;
    left: -.5em;

    color: darkgrey;
    opacity: .5;

    z-index: 1;
}
.card-subtitle {
    position: absolute;
    top: 3em;
    right: 1.2em;
    text-align: right;
}
.card-description{
    padding-left: .5em;
}
img{
    width: 90%;
}
.hoverMode {
    display: none;
    position: absolute;
    height: 37.5%;
    top: 50%;

    text-align: right;
    background-color: white;

    box-shadow: 2px 2px 10px #888888;

}
.card:hover{
    box-shadow: none;
}
.card .hoverMode {

    -webkit-animation-duration: .25s;
    -webkit-animation-delay: 0s;

    -moz-animation-duration: .25s;
    -moz-animation-delay: 0s;
}
/*Also modified in JS file for filters*/
.link:hover {
    color: #00b3e4;
}
.link:active {
    color: darkblue;
}
.thumbsInner:hover{
    background-color: dodgerblue;
}
a:hover{
    text-decoration:  none;
}

/* CONTACT PAGE */

/* FONTS */
h1{
    font-family: "Open Sans", "sans-serif";
    font-weight: 600;
    font-size: 1.1em;
    color: #5c6064;
    letter-spacing: .1em;
}
.IntroText h1{
    font-size: 1.5em;
}

h2 {
    font-family: "Open Sans", serif;
    font-weight: 600;
    color: #5c6064;
    font-size: .8em;
    letter-spacing: .1em;
}
.Filter>h2 {
    color: #939EA5;
}
.IntroText>h2{
    margin-top: -2%;
    font-size: .8em;
    letter-spacing: .05em;
    color: #939EA5;
}
h3 {
    font-family: "Open Sans", serif;
    color: #9c9c9c;
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1em;
    text-transform: lowercase;
}
h4 {
    font-family: "Open Sans", serif;
    font-weight: 600;
    color: #5c6064;
    font-size: 1.1em;
    line-height: 1em;
}
p {
    font-family: 'Fjord One', serif;
    font-weight: 400;
    font-size: .9em;
    color: #838383;
}

/* CONTACT PAGE */


.rightPane {
    margin-top:5%;
    padding-left : 15px;
    padding-left : 15px;
}
.leftPane {
    margin-top:5%;
}    
.aboutMeDP{
    width: 90%;
}
.aboutMeText {
    margin-top: 1em;
    margin-bottom: 2em;
    height: auto;
}

.specialText{
    margin-top: .75em;
    margin-bottom: 1em;
    color: #838383;
}
.tataText{
    text-align: right;
}
.socialMedia {
    margin-top: .5em;
}
.socialMediaButtons {
    padding: .6em .6em .6em 0em;
}
.mailer {
    margin-top: 3em;
}
.aboutMeText h3 {
    font-size: 2em;
}
.aboutMeText h2 {
    font-size: 1.1em;
    letter-spacing: .025em;
}


/* Media queries for other device sizes */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    h1{
        font-size: 1.5em;
    }
    h2{
        font-size: 1em;
    }
    .PortraitWarning{

        display: flex;
        position: fixed;
        top : 0px;
        left : 0px;
        height: 100%;
        width: 100%;

        margin:0;
        padding: 0;

        z-index: 15;

        align-items: center;

        background-color: white;

    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .PortraitWarning{
        display: none;
    }
    .sidebar:first-child, .projectPane:first-child {
        margin-top: 2em;
    }

    .card{
        margin: 1em 0em;
        padding: .5em;

    }
    .card-number{
        font-size: 4em;
        top: -.45em;
        left: 0em;
    }
    .card-project{
        top: 1.5em;
        right: 1em;

    }

    .card-subtitle {
        font-size: 1em;
        top: 3em;
        right: 1.1em;
    }
    h1{
        font-size: 1.5em;
        font-size: 1.5em;
    }
    h2{
        font-size: 1em;
    }
    h4{
        font-size: 1em;
    }
    .IntroText h1{
        font-size: 3em;
    }
    .IntroText>h2{
        margin-top: -.25%;
        font-size: 1.6em;

        color: #939EA5;
    }
    /*Contact Page*/
    .aboutMeText{
        margin-bottom: 0;
    }
    .aboutMeDP{
        width: 75%;
    }
    .rightPane{
        padding-left: 4em;
        border-left: solid;
        border-width: thin;
        border-color: darkgrey;
    }
    .midSeperator{
        display: none;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    h1{
        font-size: 1.6em;
    }
    h2{
        font-size: 1.1em;
    }

    /*Contact Page*/
    .leftPane{
        margin-top: 1em;
    }
    .rightPane{
        margin-top: 1em;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1500px) {
    .container{
        min-width: 1350px;
    }    
}
