/*Scrollbar tweak*/

::-webkit-scrollbar
{
    width: .6em;
    background-color: #F0F0F0;
}
::-webkit-scrollbar-track
{
    -webkit-
    /*box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/

    border-radius: 10px;
    background-color: whitesmoke;
    border: 1% solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb
{
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    border-radius: 12px;
    background-color: dodgerblue;
}

/*Main div styling*/

body {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: white;
    overflow-y: hidden;
}
.LoadingScreen {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 5;

    background-color: white;
}
.IntroText {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.header {
    position: fixed;
    top: 0;
    height: 15%;
    width: 100%;

    margin:0;
    padding: 0;

    background-color: white;

    z-index: 1;

    box-shadow: 0px .2em .75em #888888;
}
.footer {
    position: fixed;
    bottom: 0;
    height: 7.5%;
    width: 100%;

    margin:0;
    padding: 0;

    background-color: white;

    z-index: 1;

    border-top: solid;
    border-color: #939EA5;
    border-width: thin;
}
.HFContainer {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 10px;
    padding-right: 10px;
    /*background-color: bisque;*/


}
.HeaderLogo {
    position: relative;
    /*background-color: aqua;*/
}
.HeaderContact {
    transform: translateY(35%);
    margin-top: 0%;
    text-align: right;
    /*background-color: aquamarine;*/
}
.FooterNav {
    position: relative;
}
.Filter {
    display: inline-block;
    padding-left:10%;
    float: right;
    text-align: right;
}
.mainContent {
    position: fixed;
    top: 15.25%;
    height:77%;
    width: 100%;

    overflow-y: auto;

    z-index: 0;
}
.sidebar{
    margin-top: -5%;
}
.sidebar:first-child {
    margin-top: 2%;
}
.sideTitle {
    text-align: left;     
}
.sideDescription {
    margin-top: -5%;
    position: relative;
    text-align: left; 
}
.seperator{
    margin-top: 12%;
}
.thumbsOuter {
    padding: 1%;
    margin-top: 0%;
}
.thumbsOuter>.thumbsInner {
    box-shadow:  0px .25em 1em #888888;
}
.thumbsInner>img{
    width: 100%;
    z-index: 10; 
}
.overlay {
    width: 94%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;    
    margin-left: 3%;
    padding-left: 6%;
    padding-bottom: 2%;  
    margin-bottom: 3%;

    border-top: solid;
    border-color: white;
    border-width: thin;

    //background-color: cornflowerblue;

}
.thumbTitle{
    margin-top : -2%;
}
.thumbSubtitle{
    margin-top: -5%;
}
.thumbDescription{
    margin-top: -2%;
}

/* FONTS */

h1 {
    font-family: "Open Sans", serif;
    font-weight: 600;
    color: #5c6064;
    font-size: 1.25em;
    letter-spacing: 0.15em;
}
h2 {
    font-family: "Open Sans", serif;
    font-weight: 600;
    color: #5c6064;
    font-size: .8em;
    letter-spacing: .1em;
}
.Filter>h2 {
    color: #939EA5;
}
h3 {
    font-family: "Open Sans", serif;
    color: #939EA5;
    font-size: 2.5em;
    font-weight: 700;
    line-height: .25em;
    text-transform: lowercase;
}
h4 {
    font-family: "Open Sans", serif;
    font-variant: "bold";
    color: white;
    font-size: 1.25em;
    line-height: 1em;
}
h5 {
    font-family: "Open Sans", serif;
    font-variant: "regular";
    font-weight: 600;
    color: white;
    font-size: 1em;
    line-height: 0em;
}
p {
    font-family: 'Fjord One', serif;
    font-weight: 100;
    font-size: 1em;
    color: blue;
}
.sideDescription>p { 
    color: #939EA5;
    font-size: 1em;
}

/* This handles Responsivity for non-mobile */

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    .HFContainer {
        width: inherit;
    }
    .sidebar {
        float: right;
    }
    .sidebar:first-child {
        margin-top: 1%;
    }
    .thumbTitle{
        margin-top : 0%;
    }
    .thumbSubtitle{
        margin-top: -5%;
    }
    .thumbDescription{
        margin-top: -2%;
    }
    .projectPane {
        margin-top: 2%
    }
    .seperator{
        margin-top: 4%;
        margin-bottom: 0%;
    }
    h1 {
        font-size: 2em;
        letter-spacing: .25em;
    }
    h2 {

        font-size: 1.2em;
        letter-spacing: 0.15em;
    }
    h3 {
        font-size: 3em;
        line-height: 0em;
    }
    h4{
        font-size: 1.1em;
    }
    h5{
        font-size: .8em;
    }
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

#FooterLeft {
    float: left;
}

.Filter {
    text-align: right;
}
