/*Scrollbar tweak*/

::-webkit-scrollbar
{
    width: .6rem;
    background-color: #F0F0F0;
}
::-webkit-scrollbar-track
{
    -webkit-
    /*box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    border-radius: 10px;
    background-color: whitesmoke;
    border: 1% solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb
{
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    border-radius: 12px;
    background-color: dodgerblue;
}

/*Main div styling*/

body {
    background-color: white;
    overflow-y: hidden;
}
.container{
    background-color: none;
}
.PortraitWarning{
    display: none;
    position: fixed;
    top : 0px;
    left : 0px;
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
    z-index: 15;
    align-items: center;
    background-color: white;
}
.LoadingScreen {
    display: flex;
    position: fixed;
    top : 0px;
    left : 0px;
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
    z-index: 10;
    align-items: center;
    background-color: white;
}
.IntroText {
    text-align: center;
}
.header {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 10%;
    width: 100%;
    margin:0;
    padding: 0;
    z-index: 5;
    background-color: white;
    align-items: center;
    box-shadow: 0px .2rem .75rem #888888;
}
.footer {
    display: flex;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 7.5%;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 5;
    align-items: center;
    border-top: solid;
    border-width: thin;
    border-color: #CCCCCC;
    box-shadow: 0px -.025rem .25rem #CCCCCC;
}
.mainContent {
    position: fixed;
    top: 10.25%;
    height:82%;
    width: 100%;
    overflow-y: auto;
    z-index: 0;
    overflow-y: scroll;
}
.sections{
    padding: 1.5rem 0rem 1.5rem 0rem;
}
.sections:last-child{
    padding: 1rem 0rem 2rem 0rem;
    border: none;
}
.sideTitle{
    padding: .5rem .5rem .5rem 1rem;
}
.sideDescription{
    padding: .5rem .5rem .5rem 1rem;
}
.HFContainer{
    align-items: baseline;
}
.HeaderAbout, .Filter{
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
}
#fType, #fChronology{
    margin-left: 1.5rem;
    cursor: pointer;
}
.card{
    margin: 1.5rem .25rem;
    padding: .25rem;
    border: dotted;
    border-width: thick;
    border-color: white;
    border-radius: 0;
    box-shadow: 0px 2px 8px #888888;
}
.card:hover{
    /* cursor: pointer; */
    padding: 0rem;
    border: solid;
    border-color: lightskyblue;
    border-width: thick;
    box-shadow: 0px 8px 20px #888888;
}
.card-project{
    position: absolute;
    top: 1.65rem;;
    right: 1rem;
    text-align: right;
    z-index: 2;
}
.card-number{
    width: 1rem;
    font-size: 3.5rem;
    position: relative;
    top: -1.5rem;
    left: .15rem;
    color: darkgrey;
    opacity: .5;
    z-index: 1;
}
.card-subtitle {
    position: absolute;
    top: 3rem;
    right: 1rem;
    text-align: right;
    text-transform: lowercase;
}
.card-description{
    padding: 0rem .75rem 0rem .5rem ;
}
img{
    width: 90%;
}
.hoverMode {
    display: none;
    position: absolute;
    width: 100%;
    height: 37.5%;
    top: 55%;
    padding: .75rem;
    align-items: center;
    text-align: right;
    background-color: white;
    box-shadow: 0px 2px 20px #888888;
}
.card .hoverMode {
    -webkit-animation-duration: .20s;
    -webkit-animation-delay: 0s;
    -moz-animation-duration: .20s;
    -moz-animation-delay: 0s;
}

/*Also modified in JS file for filters*/
.link: hover {
    color: #00b3e4;
    cursor: pointer;
}
.link:active {
    color: dodgerblue;
}
a:hover{
    text-decoration:  none;
}

/* FONTS */
h1{
    font-family: "Open Sans", "sans-serif";
    font-weight: 600;
    font-size: 1.1rem;
    color: #5c6064;
    letter-spacing: .1rem;
}
.IntroText h1{
    font-size: 1.5rem;
}
h2 {
    font-family: "Open Sans", serif;
    font-weight: 600;
    color: #5c6064;
    font-size: .8rem;
    letter-spacing: .1rem;
}
.Filter>h2 {
    color: #939EA5;
}
.Filter>.activeFilter{
    color: dodgerblue;
}
.IntroText>h2{
    margin-top: -2%;
    font-size: .8rem;
    letter-spacing: .05rem;
    color: #939EA5;
}
h3 {
    font-family: "Open Sans", serif;
    color: #9c9c9c;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1rem;
    text-transform: lowercase;
}
h4 {
    font-family: "Open Sans", serif;
    font-weight: 600;
    color: #5c6064;
    font-size: 1rem;
    line-height: 1rem;
}
p {
    font-family: 'Fjord One', serif;
    font-weight: 400;
    font-size: 1rem;
    color: #838383;
}
.hoverMode p{
    font-size: .9rem;    
}


/* CONTACT PAGE */

.rightPane {
    margin-top:5%;
    padding-left : 15px;
    padding-left : 15px;
}
.leftPane {
    margin-top:5%;
}    
.aboutMeDP{
    width: 80%;
}
.aboutMeText {
    margin-top: 1rem;
    margin-bottom: 2rem;
    height: auto;
}
.JackOf{
    margin-top: .75rem;
    margin-bottom: 1rem;
    color: #838383;
}
.tataText{
    text-align: right;
}
.socialMedia {
    margin-top: .5rem;
}
.socialMediaButtons {
    padding: .6rem .6rem .6rem 0rem;
}
.mailer {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
.mailer>h4 {
    margin-top: .75rem;
}
.aboutMeText h3 {
    font-size: 2rem;
}
.aboutMeText h2 {
    font-size: 1.1rem;
    letter-spacing: .025rem;
}
.formButtons {
    padding: .5rem 0rem;
    background-color: dodgerblue;
    border: solid;
    color: white;
}
.contactFields {
    margin-bottom: .75rem;
}
.disclaimer {
    padding: 0px;
    font-size: .85rem;
}


/* Media queries for other device sizes */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1rem;
    }
    .PortraitWarning{
        display: flex;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .PortraitWarning{
        display: none;
    }
    .sidebar:first-child, .projectPane:first-child {
        margin-top: 2rem;
    }
    .sideDescription{
        padding-top: .5rem;
    }
    .card{
        margin: 1rem 0rem;
        padding: .25rem;
    }
    .card:hover{
        padding: .15rem;
    }
    .card-number{
        font-size: 3.5rem;
        top: -1.8rem;
        left: -.2rem;
    }
    .card-project{
        top: 1.3rem;
        right: 1rem;
    }
    .card-subtitle {
        font-size: .8rem;
        top: 2.5rem;
        right: .95rem;
    }
    h1{
        font-size: 1.5rem;
        font-size: 1.5rem;
    }
    h2{
        font-size: 1rem;
    }
    .Filter>h2{
        font-size: .8rem;
    }
    h4{
        font-size: .8rem;
        letter-spacing: -.05rem;
    }
    .IntroText h1{
        font-size: 3rem;
    }
    .IntroText>h2{
        margin-top: -.25%;
        font-size: 1.6rem;
    }
    .card-description{
        font-size: .7rem;
    }
    /*Contact Page*/
    .aboutMeText{
        margin-bottom: 0;
    }
    .aboutMeDP{
        width: 60%;
    }
    .rightPane{
        padding-left: 4rem;
        border-left: solid;
        border-width: thin;
        border-color: darkgrey;
    }
    .midSeperator{
        display: none;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .sideDescription{
        padding-top: 1.25rem;
    }
    h1{
        font-size: 1.6rem;
    }
    h2{
        font-size: 1.1rem;
    }
    .Filter>h2{
        font-size: .9rem;
    }
    h4{
        font-size: .9rem;
        letter-spacing: 0rem;
    }
    p {
        font-size: .9rem;
    }
    .card-number{
        font-size: 4rem;
        left: 0rem;
    }
    .card-project{
        top: 1.75rem;
    }
    .card-subtitle{
        font-size: .9rem;
        top: 3.1rem;
        right: .9rem;
    }
    .card-description{
        font-size: .9rem;
    }
    /*Contact Page*/
    .leftPane{
        margin-top: 1rem;
    }
    .rightPane{
        margin-top: 1rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .card-description{
        font-size: .8rem;
    }
    .card-number{
        font-size: 4rem;
        top: -2rem;
    }
    .card-project{
        top: 1.7rem;
    }
}

/* Extra large devices (large desktops, 1500px and up) Created on my own */
@media (min-width: 1500px) {
    .container{
        min-width: 1250px;
    }    
}


