/*Scrollbar tweak*/
/*Scrollbar tweak*/

::-webkit-scrollbar
{
    width: .6rem;
    background-color: #F0F0F0;
}
::-webkit-scrollbar-track
{
    -webkit-
    /*box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/

    border-radius: 10px;
    background-color: whitesmoke;
    border: 1% solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb
{
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    border-radius: 12px;
    background-color: dodgerblue;
}

/*Main div styling*/

body {
    background-color: white;
    overflow-y: hidden;
}
.container{

}
.PortraitWarning{
    display: none;
}
.LoadingScreen {
    display: flex;
    position: fixed;
    top : 0px;
    left : 0px;
    height: 100%;
    width: 100%;

    margin:0;
    padding: 0;

    z-index: 10;

    align-items: center;

    background-color: white;
}
.IntroText {
    text-align: center;
}
.header {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 10%;
    width: 100%;

    margin:0;
    padding: 0;

    z-index: 5;
    background-color: white;

    align-items: center;

    box-shadow: 0px .2rem .75rem #888888;
}
.footer {
    display: flex;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 7.5%;
    width: 100%;

    margin: 0;
    padding: 0;

    z-index: 5;

    align-items: center;

    border-top: solid;
    border-width: thin;
    border-color: #CCCCCC;

    box-shadow: 0px -.025rem .25rem #CCCCCC;
}
.mainContent {
    position: fixed;
    top: 10.25%;
    height:82%;
    width: 100%;

    overflow-y: auto;

    z-index: 0;
    overflow-y: scroll;
}
.sections{
    padding: 1.5rem 0rem .5rem 0rem;
}
.sections: first-child{
    padding-top: 2rem;
}
.sections:last-child{
    padding: 1rem 0rem 2rem 0rem;
    border: none;
}
.HFContainer{
    align-items: baseline;
}
.HeaderAbout {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
}
.underConstruction>img {
    width: 60%;
}
.projectSubtitle{
    padding-top: .75rem;
}
.projectDescription {
    margin: .5rem 0rem -2rem 0rem;
}
.videoContainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.videoEmbed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.behanceRedirect {
    padding-top: 1rem;
    text-align: center;
}
.behanceLogo {
    width: 100%;
}

#nextNav {
    text-align: right;
}
.card {
    margin-bottom: 2.5rem;
    border: none;
}
img{
    width: 100%;
}
/*Links and hovers*/
.link:hover {
    color: #00b3e4;
}
.link:active {
    color: darkblue;
}
a:hover{
    text-decoration:  none;
}
a:visited{
    color: #0b3561;
}
/* The Modal (background) */
.modal {
    display: none;
    position: fixed; 
    z-index: 12; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.8); 
}

/* Modal Content (Image) */
.modalEnabled{
    cursor: pointer;
}

.modal-content {
    margin: auto;
    display: block;
    width: 70%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.modal-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/* FONTS */
h1{
    font-family: "Open Sans", "sans-serif";
    font-weight: 600;
    font-size: 1.1rem;
    color: #5c6064;
    letter-spacing: .1rem;
}
.IntroText h1{
    font-size: 1.5rem;
}
h2 {
    font-family: "Open Sans", serif;
    font-weight: 600;
    color: #5c6064;
    font-size: .8rem;
    letter-spacing: .1rem;
}
.bottomNavigation>h2 {
    font-size: .8em;
    color: #939EA5;
}
.IntroText>h2{
    margin-top: -2%;
    font-size: .8rem;
    letter-spacing: .05rem;
    color: #939EA5;
}
h3 {
    font-family: "Open Sans", serif;
    color: #9c9c9c;
    font-size: 2.5rem;
    letter-spacing: -.05rem;
    font-weight: 700;
    line-height: 2.75rem;
}
h4 {
    font-family: "Open Sans", serif;
    font-weight: 600;
    color: #5c6064;
    font-size: .9rem;
    line-height: 1.1rem;
}
h5{
    font-family: "Open Sans", serif;
    font-weight: 600;
    color: #5c6064;
    font-size: 1.2rem;
    line-height: 1rem;
    margin-bottom: .75rem;
}
h6{
    font-family: "Open Sans", serif;
    font-weight: 600;
    color: #636363;
    font-size: .9rem;
    line-height: 1rem;
}
p {
    font-family: 'Fjord One', serif;
    font-weight: 400;
    font-size: 1rem;
    color: #636363;
}
.imgCaption{
    padding-top: .5rem; 
    text-align :center;
}
.listed{
    padding-left: 1rem;
}

/* Media queries for other device sizes */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1rem;
    }
    .PortraitWarning{

        display: flex;
        position: fixed;
        top : 0px;
        left : 0px;
        height: 100%;
        width: 100%;

        margin:0;
        padding: 0;

        z-index: 15;

        align-items: center;

        background-color: white;

    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .PortraitWarning{
        display: none;
    }
    .sections{
        padding-bottom: 1.5rem;
    }
    .sections:first-child {
        margin-top: 2rem;
    }
    .projectSubtitle{
        padding-top: 2rem;
    }
    h1{
        font-size: 1.5rem;
        font-size: 1.5rem;
    }
    h2{
        font-size: 1rem;
    }

    .IntroText h1{
        font-size: 3rem;
    }
    .IntroText>h2{
        margin-top: -.25%;
        font-size: 1.6rem;

        color: #939EA5;
    }
    .bottomNavigation>h2 {
        font-size: .9em;
    }

    h3 {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1rem;
    }
    h4 {
        font-size: 1.1rem;
        line-height: 1.2rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .modal-content {
        width: 70%;
        max-width: 900px;
    }
    h1{
        font-size: 1.6rem;
    }
    h2{
        font-size: 1.1rem;
    }
    p{
        font-size: 1rem;
    }

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .modal-content {
        max-width: 1000px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1500px) {
    .container{
        min-width: 1250px;
    } 
    .modal-content {
        max-width: 1200px;
    }
}

.extraSpace {
    padding-top: 1.5rem;
}


