:root {
  --black-text: #323232;
  --black: var(--text-inv-med);
  --white: white;
  --shadow-direct: rgba(50, 50, 50, .15);
  --txt-hi: rgba(0, 0, 0, .81);
  --text-inv-med: rgba(255, 255, 255, .81);
  --high-emphasis: rgba(255, 255, 255, .9);
  --grid-lines: rgba(50, 50, 50, .1);
  --act-inv-def: rgba(255, 255, 255, .81);
  --shadow-ambient: rgba(50, 50, 50, .15);
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #323232;
  font-family: Hind;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 44px;
  font-weight: 400;
  line-height: 62px;
}

h2 {
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: 35px;
  font-weight: 400;
  line-height: 48px;
}

h3 {
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: 21px;
  font-weight: 400;
  line-height: 32px;
}

h4 {
  letter-spacing: .5px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

p {
  opacity: .75;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 300;
}

a {
  color: var(--black-text);
  font-size: 14px;
  text-decoration: underline;
  transition: opacity .2s;
}

a:hover {
  color: var(--black);
}

a:active {
  opacity: .7;
}

ul {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
  list-style-type: disc;
}

li {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 300;
}

img {
  display: block;
}

label {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

blockquote {
  opacity: .8;
  border: 8px #000;
  border-left: 4px solid rgba(50, 50, 50, .6);
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 16px 32px;
  font-size: 21px;
  font-weight: 500;
  line-height: 36px;
}

figure {
  margin-top: 25px;
  padding-bottom: 20px;
}

figcaption {
  opacity: .6;
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
  line-height: 26px;
}

.heading-jumbo-small {
  text-transform: none;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
}

.styleguide-block {
  text-align: left;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
  display: block;
}

.heading-jumbo-tiny {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.rich-text {
  width: 70%;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.rich-text p {
  opacity: .6;
  margin-top: 15px;
  margin-bottom: 25px;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.styleguide-content-wrap {
  text-align: center;
}

.paragraph-small {
  font-size: 14px;
  line-height: 26px;
}

.styleguide-header-wrap {
  color: #fff;
  text-align: center;
  background-color: #1a1b1f;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 460px;
  padding: 30px;
  display: flex;
}

.styleguide-button-wrap {
  margin-top: 10px;
  margin-bottom: 10px;
}

.heading-jumbo {
  color: var(--black-text);
  letter-spacing: -1px;
  text-transform: none;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 56px;
  font-weight: 300;
  line-height: 64px;
}

.paragraph-tiny {
  font-family: Futura PT, sans-serif;
  font-size: 12px;
  line-height: 20px;
}

.paragraph-tiny.cc-paragraph-tiny-light {
  opacity: .7;
}

.label {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.label.cc-styleguide-label {
  margin-bottom: 25px;
}

.label.cc-speaking-label {
  margin-top: 20px;
  margin-bottom: 10px;
}

.label.cc-about-light {
  opacity: .6;
}

.paragraphdefault {
  opacity: .6;
  font-size: 14px;
  font-weight: 400;
}

.paragraphdefault.cc-position-name {
  margin-bottom: 5px;
}

.paragraphdefault.textlight {
  opacity: 1;
}

.sectionfull {
  margin-left: 30px;
  margin-right: 30px;
}

.sectionfull.cc-contact {
  background-color: #f4f4f4;
  padding-left: 80px;
  padding-right: 80px;
}

.button {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  border-radius: 0;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
  transition: background-color .4s, opacity .4s, color .4s;
}

.button:hover {
  color: #fff;
  background-color: #32343a;
}

.button:active {
  background-color: #43464d;
}

.button.cc-jumbo-button {
  padding: 16px 35px;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-white-button {
  color: #202020;
  background-color: #fff;
  padding: 16px 35px;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-white-button:hover {
  background-color: rgba(255, 255, 255, .8);
}

.button.cc-white-button:active {
  background-color: rgba(255, 255, 255, .9);
}

.paragraph-bigger {
  opacity: 1;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
}

.paragraph-bigger.cc-bigger-light {
  opacity: .6;
}

.divider {
  background-color: #eee;
  height: 1px;
}

.linknavlogo {
  z-index: 1;
  width: 140px;
  height: 140px;
}

.linknavlogo:hover {
  opacity: .8;
}

.linknavlogo:active {
  opacity: .7;
}

.navigation-items {
  text-align: right;
  flex-flow: column wrap;
  align-content: flex-end;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
}

.navbardefault {
  z-index: 50;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(to bottom, var(--white), rgba(255, 255, 255, .66) 37%, transparent);
  align-items: flex-start;
  height: 100%;
  display: block;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.navmenu {
  flex-direction: column;
  margin-top: 24px;
  display: flex;
}

.position-name-text {
  text-transform: none;
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: 400;
  line-height: 36px;
}

.work-description {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;
  display: flex;
}

.work-experience-grid {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template: ". . . ."
  / 1fr 1fr 1fr 1fr;
  margin-bottom: 140px;
}

.works-grid {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template: ". . ."
                 ". . ."
                 / 1.5fr 1fr 1.5fr;
  margin-bottom: 80px;
}

.carrer-headline-wrap {
  width: 70%;
  margin-bottom: 50px;
}

.work-image {
  text-align: center;
  background-color: #f4f4f4;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 460px;
  margin-bottom: 40px;
  text-decoration: none;
  display: flex;
}

.work-image:hover {
  opacity: .8;
}

.work-image:active {
  opacity: .7;
}

.work-image.cc-work-1 {
  background-image: url('../images/portfolio-1---wide.svg');
  background-size: cover;
}

.work-image.cc-work-2 {
  background-image: url('../images/portfolio-2---wide.svg');
  background-size: cover;
}

.work-image.cc-work-4 {
  background-image: url('../images/portfolio-3---wide.svg');
  background-size: cover;
}

.work-image.cc-work-3 {
  background-image: url('../images/portfolio-4---wide.svg');
  background-size: cover;
}

.project-name-link {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  text-decoration: none;
}

.project-name-link:hover {
  opacity: .8;
}

.project-name-link:active {
  opacity: .7;
}

.text-field {
  border: 1px solid #e4e4e4;
  border-radius: 0;
  margin-bottom: 18px;
  padding: 21px 20px;
  font-size: 14px;
  line-height: 26px;
  transition: border-color .4s;
}

.text-field:hover {
  border-color: #e3e6eb;
}

.text-field:active, .text-field:focus {
  border-color: #43464d;
}

.text-field::placeholder {
  color: rgba(50, 52, 58, .4);
}

.text-field.cc-textarea {
  height: 120px;
  padding-top: 12px;
}

.status-message {
  color: #fff;
  text-align: center;
  background-color: #202020;
  padding: 9px 30px;
  font-size: 14px;
  line-height: 26px;
}

.status-message.cc-success-message {
  background-color: #12b878;
}

.status-message.cc-error-message {
  background-color: #db4b68;
}

.contact {
  padding-top: 80px;
  padding-bottom: 90px;
}

.contact-headline {
  width: 70%;
  margin-bottom: 40px;
}

.contact-form-grid {
  grid-column-gap: 30px;
  grid-row-gap: 10px;
}

.contact-form-wrap {
  width: 70%;
}

.footer-links {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex: 1;
  align-items: center;
  display: flex;
}

.btn-40 {
  color: var(--txt-hi);
  letter-spacing: 1px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  display: flex;
}

.btn-40:hover {
  background-color: var(--txt-hi);
}

.btn-40:active {
  opacity: .8;
}

.about-intro-grid {
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template: ". ."
  / 1fr 2fr;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 140px;
}

.hi-there-heading {
  margin-top: 10px;
  margin-bottom: 20px;
}

.service-name-text {
  opacity: .6;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 46px;
}

.skillset-wrap {
  padding-right: 60px;
}

.reference-link {
  opacity: .6;
  font-size: 14px;
  line-height: 26px;
  text-decoration: none;
}

.reference-link:hover {
  opacity: 1;
}

.reference-link:active {
  opacity: .9;
}

.featured-item-wrap {
  margin-bottom: 25px;
}

.services-items-grid {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-areas: ". .";
  padding-top: 10px;
}

.skills-grid {
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template: ". ."
  / 1fr 1fr;
  margin-bottom: 140px;
}

.personal-features-grid {
  grid-column-gap: 80px;
  grid-row-gap: 20px;
  grid-template-rows: auto auto;
  grid-template-areas: ". ."
                       ". .";
  margin-bottom: 110px;
}

.speaking-text {
  margin-right: 8px;
  display: inline-block;
}

.speaking-text.cc-past-speaking {
  opacity: .6;
}

.speaking-detail {
  opacity: .6;
  display: inline-block;
}

.upcoming-wrap {
  margin-bottom: 40px;
}

.social-media-heading {
  margin-bottom: 60px;
}

.social-media-grid {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: ". . . ."
                       ". . . .";
  margin-bottom: 30px;
}

.imagegallery {
  object-position: 50% 0%;
  width: 100%;
  margin-bottom: 24px;
  overflow: hidden;
}

.email-link {
  opacity: .75;
  color: var(--black-text);
  letter-spacing: 7px;
  border-bottom: 2px solid #fff;
  margin-top: 36px;
  font-family: Vollkorn, serif;
  font-size: 35px;
  font-weight: 500;
  line-height: 48px;
  text-decoration: none;
  display: block;
}

.email-link:hover {
  opacity: 1;
  color: var(--black);
  border-bottom: 2px solid #323232;
  text-decoration: none;
}

.email-link:active {
  opacity: .7;
  color: var(--black-text);
}

.utility-page-wrap {
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  padding: 30px;
  display: flex;
}

._404-wrap {
  background-color: #1a1b1f;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
}

._404-content-wrap {
  margin-bottom: 20px;
}

.protected-wrap {
  text-align: center;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 100px;
  display: flex;
}

.protected-form {
  flex-direction: column;
  display: flex;
}

.protected-heading {
  margin-bottom: 30px;
}

.sectiondefault {
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 120px;
  overflow: hidden;
}

.sectiondefault:hover {
  filter: grayscale(0%);
}

.containerdefault {
  flex: 1;
  align-items: center;
  max-width: 840px;
  margin-left: auto;
  margin-right: 24px;
  display: block;
  position: relative;
}

.texthomecaption {
  color: #fff;
  letter-spacing: .5px;
  margin-top: 48px;
  margin-bottom: 16px;
  font-family: Futura PT, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.svglogo {
  object-fit: none;
  position: relative;
}

.svglogo.small {
  display: none;
}

.div-block {
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: flex;
}

.wrappernav {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.navlinks {
  text-align: right;
  flex: none;
  align-self: flex-end;
  margin-left: 0;
  margin-right: 0;
  padding: 12px 0;
  font-weight: 500;
  right: 32px;
}

.containernav {
  flex: 1;
  align-items: center;
  max-width: 936px;
  display: block;
}

.containerfullwidth {
  max-width: 100%;
  padding-left: 24px;
  padding-right: 24px;
}

.containerfullbleed {
  max-width: 100%;
}

.wrapperemail {
  text-align: center;
}

.sectionprojecthero {
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 120px;
  overflow: hidden;
}

.sectionprojecthero:hover {
  filter: grayscale(0%);
}

.textprojectblog p {
  max-width: 75ch;
}

.wrapperintrotext {
  margin-top: 48px;
}

.collection-item {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.textnavouttitle {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 300;
  line-height: 35px;
}

.wrappernavout {
  margin-top: 64px;
}

.galleryframe {
  object-fit: contain;
  object-position: 50% 50%;
  width: 100%;
  max-height: 90vh;
  margin-bottom: 32px;
  overflow: hidden;
}

.imageprojecthero {
  object-fit: cover;
  object-position: 50% 50%;
  background-image: url('../images/portfolio-2---wide.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 920px;
  background-attachment: fixed;
  width: 100%;
  max-height: 90vh;
}

.textoverline {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
}

.logofooter {
  width: 50px;
  height: 50px;
}

.div-block-2 {
  flex: none;
  align-items: center;
  display: flex;
}

.grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.sectionfooter {
  padding-top: 32px;
  padding-bottom: 32px;
}

.textlight {
  color: #fff;
}

.iconsocial {
  width: 24px;
  height: 24px;
  display: block;
}

.linkfootertext {
  margin-top: 10px;
  margin-left: 4px;
  display: block;
}

.gridprojectintro {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.container-default {
  flex: 1;
  align-items: center;
  max-width: 1056px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.sectionhomehero {
  background-color: #000;
  background-image: url('../images/Profile-Photo-2400.png');
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 720px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  position: relative;
  bottom: auto;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.sectionhomehero:hover {
  filter: grayscale(0%);
}

.navbar {
  display: none;
}

.logohomehero {
  width: auto;
  height: 128px;
}

.linkshomehero {
  opacity: 1;
  color: #fff;
  border: 1px rgba(0, 0, 0, 0);
  border-bottom-style: solid;
  margin-right: 16px;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  transition: border-color .2s cubic-bezier(.25, .46, .45, .94);
}

.linkshomehero:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.d1 {
  color: var(--high-emphasis);
  letter-spacing: -1px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Futura PT, sans-serif;
  font-size: 72px;
  font-weight: 300;
  line-height: 80px;
}

.flex-v24 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  align-items: baseline;
  display: flex;
}

.flex-v24._24 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.sectionhomecontent {
  background-color: #000;
  padding-top: 120px;
  padding-bottom: 120px;
}

.sectionloaderblack {
  z-index: 90;
  filter: blur();
  background-color: #000;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.blackoverlay {
  z-index: 91;
  background-color: #000;
  justify-content: center;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.loader {
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.gridbackground {
  grid-column-gap: 24px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  height: 100%;
  display: grid;
  position: absolute;
  bottom: auto;
  left: 0%;
  right: auto;
}

.div-block-4 {
  border-left: 1px solid #000;
}

.divgridline {
  border-style: none solid;
  border-width: 1px;
  border-color: rgba(50, 50, 50, .4) rgba(50, 50, 50, .1) rgba(50, 50, 50, .4) var(--grid-lines);
}

.grid-main-hero {
  grid-template-columns: 1fr 1fr 1fr;
}

.body-md {
  color: var(--text-inv-med);
  letter-spacing: .5px;
  font-family: Futura PT, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
}

.overline-sm {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: Futura PT, sans-serif;
  font-size: 9px;
  font-weight: 300;
  line-height: 12px;
}

.overline-sm.txt-inv-med {
  color: var(--text-inv-med);
}

.btn-sec {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border: 2px solid var(--text-inv-med);
  color: var(--text-inv-med);
  letter-spacing: .25px;
  background-color: rgba(0, 0, 0, 0);
  flex-flow: wrap;
  flex: 0 auto;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: Futura PT, sans-serif;
  font-size: 16.5px;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.btn-sec:hover {
  border-color: var(--act-inv-def);
  background-color: var(--act-inv-def);
  color: var(--txt-hi);
}

.btn-label-sm {
  padding-left: 8px;
  padding-right: 8px;
}

.icon-20 {
  width: 20px;
  height: 20px;
}

.icon-24 {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 1280px) {
  h4 {
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-top: 16px;
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
  }

  .navbardefault {
    align-items: flex-start;
    height: 100%;
  }

  .sectiondefault {
    margin-top: 120px;
    display: block;
  }

  .containerdefault {
    max-width: 948px;
    margin-left: auto;
    margin-right: auto;
  }

  .containernav {
    max-width: 1128px;
  }

  .wrapperemail {
    text-align: center;
  }

  .sectionprojecthero {
    margin-top: 120px;
    display: block;
  }

  .container-default {
    max-width: 1056px;
  }

  .sectionhomehero {
    background-size: 720px;
  }

  .logohomehero {
    height: 144px;
  }
}

@media screen and (min-width: 1440px) {
  .containerdefault {
    max-width: 1128px;
  }

  .galleryframe {
    object-fit: cover;
  }

  .container-default {
    max-width: 1272px;
  }

  .sectionhomehero {
    background-position: 0 100%;
    background-size: 800px;
  }

  .logohomehero {
    height: 160px;
  }
}

@media screen and (min-width: 1920px) {
  .footer-links {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    margin-right: 0;
  }

  .btn-40 {
    margin-left: 0;
    margin-right: 0;
    transition: color .1s, background-color .1s;
  }

  .btn-40:hover {
    background-color: var(--black);
    color: var(--text-inv-med);
  }

  .container-default {
    max-width: 1488px;
  }

  .sectionhomehero {
    background-position: 0 100%;
    background-size: 960px;
  }

  .logohomehero {
    height: 200px;
  }

  .d1 {
    font-size: 90px;
    line-height: 96px;
  }

  .body-md {
    font-size: 21px;
    line-height: 36px;
  }

  .overline-sm {
    font-size: 12px;
    line-height: 16px;
  }

  .btn-sec {
    border: 2px solid var(--text-inv-med);
    color: var(--text-inv-med);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    height: 40px;
    font-family: Futura PT, sans-serif;
    font-size: 16.5px;
    font-weight: 500;
    line-height: 20px;
    display: flex;
  }
}

@media screen and (max-width: 991px) {
  .styleguide-block {
    text-align: center;
  }

  .heading-jumbo {
    font-size: 56px;
    line-height: 70px;
  }

  .sectionfull.cc-contact {
    padding-left: 0;
    padding-right: 0;
  }

  .button {
    justify-content: center;
  }

  .linknavlogo {
    width: 70px;
    height: 70px;
    position: relative;
    top: 5px;
  }

  .linknavlogo.w--current {
    flex: 1;
  }

  .navigation-items {
    background-color: #fff;
    position: relative;
  }

  .navbardefault {
    box-shadow: 0 0 16px 0 rgba(50, 50, 50, .1), 0 4px 8px 0 var(--shadow-direct);
    background-color: #fff;
    height: 80px;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .navmenu {
    background-color: #fff;
    align-items: flex-end;
    margin-top: 0;
    position: absolute;
  }

  .work-experience-grid {
    grid-template: ". ."
                   ". ."
                   / 1fr 1fr;
  }

  .works-grid {
    flex-direction: column;
    align-items: stretch;
    display: flex;
  }

  .carrer-headline-wrap {
    width: auto;
  }

  .work-image {
    margin-bottom: 30px;
  }

  .contact {
    width: auto;
    padding: 30px 50px 40px;
  }

  .contact-headline, .contact-form-wrap {
    width: 100%;
  }

  .about-intro-grid {
    grid-row-gap: 50px;
    text-align: center;
    grid-template: "."
                   "."
                   / 1fr;
  }

  .about-head-text-wrap {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .service-name-text {
    font-size: 24px;
    line-height: 42px;
  }

  .skillset-wrap {
    padding-right: 0;
  }

  .services-items-grid {
    grid-row-gap: 0px;
    grid-template: "."
                   "."
                   / 1fr;
    padding-top: 0;
  }

  .skills-grid {
    grid-row-gap: 50px;
    text-align: center;
    grid-template: "."
                   "."
                   / 1fr;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .personal-features-grid {
    text-align: center;
    grid-template: "."
                   "."
                   "."
                   "."
                   / 1fr;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .social-media-heading {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .social-media-grid {
    grid-template: ". ."
                   ". ."
                   ". ."
                   ". ."
                   / 1fr 1fr;
  }

  .email-link {
    font-size: 36px;
    line-height: 54px;
  }

  .containerdefault {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

  .svglogo {
    object-fit: fill;
    margin-left: -10px;
  }

  .svglogo.large {
    top: 5px;
  }

  .wrappernav {
    flex-direction: row;
  }

  .navlinks {
    flex: none;
    max-width: 200px;
    margin-right: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    right: -3px;
  }

  .hamburger {
    color: var(--black);
    background-color: #fff;
    margin-top: 0;
    position: absolute;
    top: 10px;
    bottom: auto;
    left: auto;
    right: 24px;
  }

  .hamburger.w--open {
    background-color: var(--white);
    color: var(--black);
    top: 36px;
    bottom: auto;
    left: auto;
    right: 24px;
  }

  .containernav {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

  .menu-button-2 {
    width: 48px;
    height: 48px;
  }

  .container-default {
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
  }

  .sectionhomehero {
    justify-content: center;
    align-items: flex-start;
    top: -114px;
  }

  .d1 {
    font-size: 56px;
    line-height: 70px;
  }

  .grid-main-hero {
    grid-template-columns: 1fr 1fr;
    margin-top: 160px;
  }
}

@media screen and (max-width: 767px) {
  .heading-jumbo-small {
    font-size: 30px;
    line-height: 52px;
  }

  .rich-text {
    text-align: left;
    width: 90%;
    max-width: 470px;
  }

  .container {
    text-align: center;
  }

  .heading-jumbo {
    font-size: 50px;
    line-height: 64px;
  }

  .sectionfull {
    margin-left: 15px;
    margin-right: 15px;
  }

  .sectionfull.cc-contact {
    padding: 15px;
  }

  .paragraph-bigger {
    font-size: 16px;
    line-height: 28px;
  }

  .linknavlogo {
    object-fit: contain;
    width: 50px;
    height: 50px;
    margin-left: -10px;
    padding-left: 0;
  }

  .navbardefault {
    height: 50px;
  }

  .work-experience-grid {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .work-position-wrap {
    margin-bottom: 40px;
  }

  .project-name-link {
    font-size: 16px;
    line-height: 28px;
  }

  .text-field.cc-textarea {
    text-align: left;
  }

  .contact {
    padding-left: 30px;
    padding-right: 30px;
  }

  .contact-form-grid {
    grid-column-gap: 30px;
    grid-template: "."
                   "."
                   "."
                   / 1fr;
  }

  .contact-form {
    flex-direction: column;
    display: flex;
  }

  .contact-form-wrap {
    text-align: left;
  }

  .btn-40 {
    align-items: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    display: flex;
  }

  .about-head-text-wrap {
    width: 70%;
    max-width: 470px;
  }

  .skills-grid {
    grid-template-columns: 1fr;
    width: 70%;
    max-width: 470px;
  }

  .personal-features-grid, .social-media-heading {
    width: 70%;
    max-width: 470px;
  }

  .social-media-grid {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-columns: 1fr 1fr;
  }

  .imagegallery {
    margin-bottom: 15px;
  }

  .email-link {
    letter-spacing: 5px;
    font-size: 18px;
    line-height: 24px;
  }

  .utility-page-wrap {
    padding: 15px;
  }

  ._404-wrap {
    padding: 30px;
  }

  .sectiondefault {
    margin: 64px 0;
  }

  .containerdefault {
    padding-left: 16px;
    padding-right: 16px;
  }

  .svglogo {
    object-fit: fill;
    margin-left: 0;
  }

  .svglogo.small {
    display: block;
  }

  .svglogo.large {
    display: none;
  }

  .navlinks {
    width: auto;
  }

  .hamburger {
    width: 48px;
    height: 48px;
    margin-top: 0;
    padding: 13px;
    top: 0;
    right: 0;
  }

  .hamburger.w--open {
    color: #000;
    background-color: #fff;
    top: 0;
    right: 0;
  }

  .containernav {
    padding-left: 16px;
    padding-right: 16px;
  }

  .sectionprojecthero {
    margin: 64px 0;
  }

  .iconsocial {
    width: 48px;
    height: 48px;
    display: inline;
  }

  .linkfootertext {
    display: none;
  }

  .gridprojectintro {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr;
  }

  .container-default {
    padding-left: 24px;
    padding-right: 24px;
  }

  .sectionhomehero {
    background-size: 50%;
    margin: 64px 0;
  }

  .d1 {
    font-size: 50px;
    line-height: 64px;
  }

  .grid-main-hero {
    margin-top: 80px;
  }
}

@media screen and (max-width: 479px) {
  .rich-text {
    width: 100%;
    max-width: none;
  }

  .heading-jumbo {
    font-size: 36px;
    line-height: 48px;
  }

  .linknavlogo {
    margin-left: -30px;
  }

  .navbardefault {
    padding-left: 20px;
    padding-right: 20px;
  }

  .contact {
    padding-left: 15px;
    padding-right: 15px;
  }

  .contact-form, .contact-form-wrap {
    flex-direction: column;
  }

  .about-head-text-wrap {
    width: 100%;
    max-width: none;
  }

  .skills-grid {
    grid-template-columns: 1fr;
    width: 100%;
    max-width: none;
  }

  .personal-features-grid, .social-media-heading {
    width: 100%;
    max-width: none;
  }

  .email-link {
    letter-spacing: 2px;
  }

  .containerdefault, .containernav {
    padding-left: 16px;
    padding-right: 16px;
  }

  .copyrighttext {
    display: none;
  }

  .container-default {
    padding-left: 24px;
    padding-right: 24px;
  }

  .sectionhomehero {
    background-size: 100%;
  }

  .d1 {
    font-size: 36px;
    line-height: 48px;
  }

  .grid-main-hero {
    grid-template-columns: 1fr;
  }
}

#w-node-_417e5459-4503-4703-99db-33a4d491b5c8-46d0277f {
  grid-area: 1 / 2 / 2 / 3;
  justify-self: end;
}

#w-node-_6286958f-6a5d-156c-34a2-fba6ea898167-46d0277f {
  grid-area: 2 / 3 / 3 / 4;
}

#w-node-d425a441-629e-c2dc-c951-39cef79ca09f-f79ca097 {
  justify-self: end;
}

#w-node-_9b2922ad-09b1-aebb-0430-7dee623c62c1-56d02784 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_9b2922ad-09b1-aebb-0430-7dee623c62c8-56d02784 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-dac044b7-be90-60f3-414d-4224828ffd8a-56d02784 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-dac044b7-be90-60f3-414d-4224828ffd8f-56d02784 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-dac044b7-be90-60f3-414d-4224828ffd90-56d02784 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-dac044b7-be90-60f3-414d-4224828ffd99-56d02784 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-dac044b7-be90-60f3-414d-4224828ffda1-56d02784 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-dac044b7-be90-60f3-414d-4224828ffda6-56d02784 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-dac044b7-be90-60f3-414d-4224828ffdd8-56d02784 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-dac044b7-be90-60f3-414d-4224828ffe12-56d02784 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_76ba38e4-2715-c796-e82b-8239d41d1e9d-56d02784, #w-node-_76ba38e4-2715-c796-e82b-8239d41d1e9d-56d02784:active {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_76ba38e4-2715-c796-e82b-8239d41d1e9e-56d02784 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-_76ba38e4-2715-c796-e82b-8239d41d1e9f-56d02784 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_76ba38e4-2715-c796-e82b-8239d41d1ea0-56d02784 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-_76ba38e4-2715-c796-e82b-8239d41d1ea1-56d02784 {
  grid-area: 1 / 3 / 2 / 4;
}

#w-node-_76ba38e4-2715-c796-e82b-8239d41d1ea2-56d02784 {
  grid-area: 1 / 4 / 2 / 5;
}

#w-node-_76ba38e4-2715-c796-e82b-8239d41d1ea3-56d02784 {
  grid-area: 2 / 3 / 3 / 4;
}

#w-node-_76ba38e4-2715-c796-e82b-8239d41d1ea4-56d02784 {
  grid-area: 2 / 4 / 3 / 5;
}

#w-node-d783a17e-0b35-a13a-0448-a852d0df4a32-d0df4a24 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-d783a17e-0b35-a13a-0448-a852d0df4a36-d0df4a24 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-d783a17e-0b35-a13a-0448-a852d0df4a3a-d0df4a24 {
  grid-area: 2 / 1 / 3 / 3;
}

#w-node-_0befc76b-828c-2822-f9fa-f2c6de040bbf-8ad02785 {
  grid-area: 1 / 1 / 2 / 4;
}

#w-node-_0befc76b-828c-2822-f9fa-f2c6de040bc4-8ad02785 {
  grid-area: 2 / 1 / 3 / 3;
}

#w-node-_0befc76b-828c-2822-f9fa-f2c6de040bc9-8ad02785 {
  grid-area: 2 / 3 / 3 / 5;
}

#w-node-_776160d9-1380-f094-ccf8-d58453f13291-316f0b7a {
  grid-area: 1 / 1 / 2 / 4;
}

#w-node-_776160d9-1380-f094-ccf8-d58453f13298-316f0b7a {
  grid-area: 2 / 1 / 3 / 3;
}

#w-node-_776160d9-1380-f094-ccf8-d58453f1329d-316f0b7a {
  grid-area: 2 / 3 / 3 / 5;
}

@media screen and (min-width: 1920px) {
  #w-node-_417e5459-4503-4703-99db-33a4d491b5c8-46d0277f {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: end;
  }

  #w-node-d425a441-629e-c2dc-c951-39cef79ca09f-f79ca097 {
    justify-self: end;
  }
}

@media screen and (min-width: 1280px) {
  #w-node-_417e5459-4503-4703-99db-33a4d491b5c8-46d0277f {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: end;
  }
}

@media screen and (max-width: 991px) {
  #w-node-_417e5459-4503-4703-99db-33a4d491b5c8-46d0277f {
    grid-column: 1 / 2;
  }

  #w-node-_6286958f-6a5d-156c-34a2-fba6ea898167-46d0277f {
    grid-column: 2 / 3;
  }

  #w-node-_9b2922ad-09b1-aebb-0430-7dee623c62c8-56d02784, #w-node-dac044b7-be90-60f3-414d-4224828ffd8f-56d02784, #w-node-dac044b7-be90-60f3-414d-4224828ffd99-56d02784 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-dac044b7-be90-60f3-414d-4224828ffdd8-56d02784 {
    grid-area: 4 / 1 / 5 / 2;
  }

  #w-node-dac044b7-be90-60f3-414d-4224828ffe12-56d02784 {
    grid-area: 3 / 1 / 4 / 2;
  }

  #w-node-_76ba38e4-2715-c796-e82b-8239d41d1e9e-56d02784 {
    grid-area: 3 / 2 / 4 / 3;
  }

  #w-node-_76ba38e4-2715-c796-e82b-8239d41d1ea0-56d02784 {
    grid-area: 3 / 1 / 4 / 2;
  }

  #w-node-_76ba38e4-2715-c796-e82b-8239d41d1ea1-56d02784 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-_76ba38e4-2715-c796-e82b-8239d41d1ea2-56d02784 {
    grid-area: 2 / 2 / 3 / 3;
  }

  #w-node-_76ba38e4-2715-c796-e82b-8239d41d1ea3-56d02784 {
    grid-area: 4 / 1 / 5 / 2;
  }

  #w-node-_76ba38e4-2715-c796-e82b-8239d41d1ea4-56d02784 {
    grid-area: 4 / 2 / 5 / 3;
  }

  #w-node-_0befc76b-828c-2822-f9fa-f2c6de040bbf-8ad02785 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-_0befc76b-828c-2822-f9fa-f2c6de040bc4-8ad02785 {
    grid-column-end: 2;
  }

  #w-node-_0befc76b-828c-2822-f9fa-f2c6de040bc9-8ad02785 {
    grid-area: 3 / 1 / 4 / 2;
  }

  #w-node-_776160d9-1380-f094-ccf8-d58453f13291-316f0b7a {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-_776160d9-1380-f094-ccf8-d58453f13298-316f0b7a {
    grid-column-end: 2;
  }

  #w-node-_776160d9-1380-f094-ccf8-d58453f1329d-316f0b7a {
    grid-area: 3 / 1 / 4 / 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-d783a17e-0b35-a13a-0448-a852d0df4a36-d0df4a24 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-d783a17e-0b35-a13a-0448-a852d0df4a3a-d0df4a24 {
    grid-area: 3 / 1 / 4 / 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_417e5459-4503-4703-99db-33a4d491b5c8-46d0277f {
    grid-area: span 1 / span 1 / span 1 / span 1;
    justify-self: start;
  }

  #w-node-_6286958f-6a5d-156c-34a2-fba6ea898167-46d0277f {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPTMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPTDemi.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPTBook.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}